<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonEye</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        body{
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #bg{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>MonEye</h1>
    <img id="bg" src="{{ url_for('video_feed') }}">
    <h3>TOTAL : {{ val_total }}</h3>

    <script>
        // window.addEventListener("keypress", checkKeyPress, false);

        // function checkKeyPress(key){
        //     if(key.keyCode=="s"){
        //         alert("masuk")
        //     }
        // }

    </script>
</body>
</html>